<h1>this is the list template..</h1>
<.form action="/list" method="POST" for={to_form(%{list_id: {@list_id}, item: ""})}>
  <div style="display: none;">
    <.input errors={[]} value={@list_id} id="list_id" name="list_id" type="text" field={:list_id} />
  </div>
  <.input errors={[]} value="" id="item" name="item" type="text" field={:item} />
  <.button>Submit!</.button>
</.form>
<%= for item <- @tasks do %>
  <p>
    <%= item %>
  </p>
<% end %>
