<h1>this is the list template..</h1>
<%= form_for @conn, Routes.list_path(@conn, :create), fn f -> %>
  <div style="display: none;">
    <%= label(f, :list_id, "List Name (Leave alone!)") %>
    <%= text_input(f, :list_id, value: @list_id) %>
  </div>
  <%= label(f, :Item, "Item body") %>
  <%= text_input(f, :item) %>
  <%= submit("Add Item") %>
<% end %>
<%= for item <- @tasks do %>
  <p>
    <%= item %>
  </p>
<% end %>
